@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-fs4zda');
	src:url('fonts/icomoon.eot?#iefix-fs4zda') format('embedded-opentype'),
		url('fonts/icomoon.woff?-fs4zda') format('woff'),
		url('fonts/icomoon.ttf?-fs4zda') format('truetype'),
		url('fonts/icomoon.svg?-fs4zda#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tick:before {
	content: "\e607";
}
.icon-repeat:before {
	content: "\e608";
}
.icon-uj:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-help2:before {
	content: "\e603";
}
.icon-dot:before {
	content: "\e604";
}
.icon-cv:before {
	content: "\e605";
}
.icon-browser:before {
	content: "\e606";
}
.icon-envelope:before {
	content: "\e600";
}
