﻿/*
    
Yellow:             #FECC0A
Dark Yellow:        #E0C212
Green:              #49DDC7
Pink:               #EB008B
    
    
    
*/


@font-face {
    font-family: 'MuseoSansRounded';
    src: url('/fonts/MuseoSansRounded-500-webfont.eot');
    src: url('/fonts/MuseoSansRounded-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MuseoSansRounded-500-webfont.woff') format('woff'),
         url('/fonts/MuseoSansRounded-500-webfont.ttf') format('truetype'),
         url('/fonts/MuseoSansRounded-500-webfont.svg#MuseoSansRounded500Regular') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSansRounded';
    src: url('/fonts/MuseoSansRounded-300-webfont.eot');
    src: url('/fonts/MuseoSansRounded-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MuseoSansRounded-300-webfont.woff') format('woff'),
         url('/fonts/MuseoSansRounded-300-webfont.ttf') format('truetype'),
         url('/fonts/MuseoSansRounded-300-webfont.svg#MuseoSansRounded300Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSansRounded';
    src: url('/fonts/MuseoSansRounded-100-webfont.eot');
    src: url('/fonts/MuseoSansRounded-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MuseoSansRounded-100-webfont.woff') format('woff'),
         url('/fonts/MuseoSansRounded-100-webfont.ttf') format('truetype'),
         url('/fonts/MuseoSansRounded-100-webfont.svg#MuseoSansRounded300Regular') format('svg');
    font-weight: 100;
    font-style: normal;

}

.spaced1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.topspaced1 {
    margin-top: 5px;
}

.spaced2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.topspaced2 {
    margin-top: 10px;
}

.spaced3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.topspaced3 {
    margin-top: 20px;
}

.spaced4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.topspaced4 {
    margin-top: 30px;
}

.center {
    text-align: center;
}

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.top-margin-ten {
    margin-top: 10px;
}

/* Custom CSS starts here */
.site-logo {
    margin: 20px 0;
}

.header-right {
    float: right;
    padding: 40px 0;
}

.header-link {
    color: black;
    margin-left: 20px;
    border: 2px solid transparent;
}

.header-link:hover {
    color: black;
    border: 2px solid #FECC0A;
}

.pre-header, .pre-header:hover {
    color: #FECC0A;
    font-weight: bold;
}

h1, h2 {
    margin-top: 10px;
}

.activity-container {
    padding: 0 12px;
}

.activity-row {
    margin-top: 8px
}

.start-page {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.start-page form {
    text-align: left;
}

.activity {
    border-width: 1px;
    border-style: solid;
}

.activity.yellow {
    border-color: #FECC0A;
}

.activity.green {
    border-color: #49DDC7;
}

.activity-box-header {
    padding: 16px 0;
    color: white;
    font-size: 24px;
}

.activity-box-header.yellow {
    background-color: #FECC0A;
}

.activity-box-header.green {
    background-color: #49DDC7;
}

.activity-box-body {
    min-height: 140px;
    position: relative;
    padding: 8px;
    font-size: 26px;
}

.activity-buttons {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
}

.btn {
    color: black;
}

.btn-info {
    background-color: #FECC0A;
    border-color: #FECC0A;
}

.btn:hover {
    color: black;
}

.btn-info:hover {
    background-color: #E0C212;
    border-color: #E0C212;
}

.btn-success {
    background-color: #37E11E;
    border-color: #37E11E;
}

.activity.green .btn-info {
    background-color: #49DDC7;
    border-color: #49DDC7;
}

.hint.h1 {
    font-size: 30px;
    text-align: center;
}

.hint {
    color: #EC008C;
}

.hint:hover {
    color: #EC008C;
}

.row {
    margin-left: -4px;
    margin-right: -4px;
}

.row .col-xs-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.row.small-margin {
    margin-left: -3px;
    margin-right: -3px;
}

.row.small-margin .col-xs-6 {
    padding-left: 3px;
    padding-right: 3px;
}

/* Login Screen */
input.form-control {
    padding: 12px 12px;
    height: initial;
}

.form-control:focus {
    border-color: #FECC0A;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Activity */
.activity-bar {
    background-color :#FECC0A;
    height:100px;
    width: 100%;
    padding: 20px 0;
}

.activity-bar h2 {
    margin-top: 2px;
}

.activity-bar .left {
    float: left;
}

.activity-bar .right {
    float: right;
}

.activity-bar ul {
    padding: 0;
}

.progress-indicator {
    height: 10px;
    width: 70px;
    background-color: white;
    display: inline-block;
    margin-top: 17px
}

.progress-indicator.complete {
    background-color: #37E11E;
}

.help-link {
    font-size: 80px;
    color: #FECC0A;
    padding: 30px 10px;
    display: block;
}

.help-link:hover {
    color: #E0C212;
    text-decoration: none;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.address {
    display: block;
    background-color:#F1F1F2;
    padding: 10px;
    margin: 20px 0;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.action {
    padding: 20px;
    background-color: #FFF5CB;
    
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.action .action-indicator {
    padding: 7px 14px 7px 10px;
    background-color: #EB008B;
    display: inline-block;
    margin-bottom: 10px;
    color: white;
    
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.action .action-indicator .icon-dot {
    color: #FECC0A;
    font-size: 10px;
}

.action h1 {
    color: #EB008B;
    margin-bottom: 16px;
}

.action input.form-control {
    width: 30%;
    display: inline-block;
}

.action button {
    margin-bottom: 2px;
}