﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content">
    <div class="">
        <h1>Inspiring Digital helps you get online – whether just getting started with the internet, setting up an email or improving your job prospects.</h1>
    </div>


</div>