﻿@{
    ViewBag.Title = "Login";
}

<div class="start-page" ng-controller="LoginController as loginCtrl">
    <a href="#" class="pre-header">BACK FOR MORE</a>
    <h1>Hello again!</h1>
    <p>
        If you’ve already signed up, you can get back to where you left off.<br />
        Just enter your email and password in the boxes below then tap the Log-in button.
    </p>

    <form role="form">
        <div class="form-group">
            <label for="exampleInputEmail1">Type your email address:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Tap here to start typing">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Type the password you created:</label>
            <input type="password" class="form-control" placeholder="Tap here to start typing">
        </div>
        <button type="submit" class="btn btn-info btn-block btn-lg">Submit</button>
    </form>
    <p class="top-margin-ten">Forgot your password? don't worry, tap here to get it back.</p>
</div>