﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="activity-bar">
    <div class="container">
        <div class="left">
            TOPIC
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="right">
            <div>YOUR PROGRESS</div>
            <ul>
                <li class="progress-indicator complete"></li>
                <li class="progress-indicator"></li>
                <li class="progress-indicator"></li>
                <li class="progress-indicator"></li>
                <li class="progress-indicator"></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-10 body-content">
            @RenderBody()

        </div>

        <div class="col-xs-2">
            <a class="icon-help2 help-link"></a>
        </div>
    </div>
</div>

