﻿@{
    Layout = "~/Views/Activity/_Activity.cshtml";
}

<h2>The web browser</h2>

<p>A web browser lets you visit websites on the internet.</p>

<p>There are different brands of browser, like Internet Explorer, Safari, Firefox and Chrome. As you get more confident, you will find your favourite. Until then, it doesn’t matter which one you use.</p>

<img class="spaced center" src="~/Images/browsers.png" />

<p>All web browsers have things in common, one of which is the address bar. This is the box in the top of this browser which is currently showing:</p>

<div class="address">http://www.inspiringwork.org/browser/01</div>

<p>This is a ‘web address’ and it tells the web browser what you want to look at on the internet.</p>

<p>When you see a web address, maybe on TV or in a leaflet, you can type it into your web browser’s address bar to visit the website.</p>

<div class="action">
    <div class="action-indicator"><span class="icon-dot"></span>&nbsp;&nbsp;Action</div>
    <p>Type the web address below into your web browser’s address bar at the top. This will take you to the next step in the course.</p>
    <h1>www.inspiringdigital.org/nextstep</h1>
</div>
