﻿@{
    Layout = "~/Views/Activity/_Activity.cshtml";

}

<h2>Viewing multiple websites</h2>

<p>You can visit more than one website at once in your web browser by opening a new tab.</p>

<p>Look at the top of this page - you should see ‘This is a tab’.<br />
That’s what a tab looks like in your browser.</p>

<img class="topspaced3" src="~/Images/newtab.png" />

<div class="hint spaced2">Your tab will look similar<br />to this</div>

<div class="action">
    <div class="action-indicator"><span class="icon-dot"></span>&nbsp;&nbsp;Action</div>
    <p>Take a note of the web address below:</p>
    <h1>www.inspiringdigital.org/newtab</h1>

    <p>Look for the ‘This is a tab’ tab above. Next to it you will see a small blank tab or a + sign.</p>

    <p>When you tap this, it will open a new tab – then put the web address you noted, into the blank address bar of your new tab.</p>

    <p>Once you’ve done this you’ll see a congratulations message.</p>
</div>



