﻿@{
    Layout = "~/Views/Activity/_Activity.cshtml";
}


<h2>Searching the internet</h2>

<p>You may have heard of search engines such as Google, Yahoo or Bing! Many browsers even show a search engine first when you open them.</p>

<p>Their job is to help you find websites. You start by putting something you want to search for into their search bar and they give you a list of relevant websites.</p>

<p>For example, if you wanted to find a shop that sold scuba diving equipment nearby, you could type in “scuba diving equipment in Cornwall”.</p>


<div class="action">
    <div class="action-indicator"><span class="icon-dot"></span>&nbsp;&nbsp;Action</div>
    <p>Your mission is to combine what you’ve learnt so far to find a particular book online.</p>

    <p>
        Open a new browser tab<br />
        Type <a class="hint" href="#">www.google.com</a> into the address bar
    </p>

    <p>
        Then use the Google search engine to find a paperback book called<br />
        “The Little Book of Calm” on the Amazon website.
    </p>

    <p>Once you have found it, come back to this tab and type the price into the box below and tap enter.</p>
    
    <input type="text" class="form-control" />
    <button type="submit" class="btn btn-info btn-lg">Submit</button>
    
</div>



