﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Activities";
}

<div class="container body-content">
    <div class="start-page">
        <h1>You've chosen to get started online</h1>
        <div>This covers two main topics.<br />If you’re feeling brave you can tap to add more – or just get started straight away.</div>

        <div class="activity-container">
            <div class="row activity-row">
                <div class="col-xs-4">
                    <div class="activity yellow">
                        <div class="activity-box-header yellow"><div class="icon-browser"></div></div>
                        <div class="activity-box-body">
                            Understanding<br />the browser
                            <div class="row small-margin activity-buttons">
                                <div class=" col-xs-6">
                                    <a class=" btn btn-sm btn-success btn-block">
                                        <span class="icon-tick"></span> Complete
                                    </a>

                                </div>
                                <div class=" col-xs-6">
                                    <a class="btn btn-sm btn-info btn-block">
                                        <span class="icon-repeat"></span> Repeat
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="activity yellow">
                        <div class="activity-box-header yellow"><div class="icon-envelope"></div></div>

                        <div class="activity-box-body">
                            Understanding<br />the browser
                            <div class="row small-margin activity-buttons">

                                <div class="col-xs-6 col-xs-offset-3">
                                    <a class="btn btn-sm btn-info btn-block">
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row activity-row">
                <div class="col-xs-4">
                    <div class="activity green">
                        <div class="activity-box-header green"><div class="icon-uj"></div></div>
                        <div class="activity-box-body">
                            Understanding<br />the browser
                            <div class="row small-margin activity-buttons">

                                <div class="col-xs-6 col-xs-offset-3">
                                    <a class="btn btn-sm btn-info btn-block">
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="activity green">
                        <div class="activity-box-header green"><div class="icon-cv"></div></div>
                        <div class="activity-box-body">test</div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="activity green">
                        <div class="activity-box-header green"><div class="icon-twitter"></div></div>
                        <div class="activity-box-body"><div class="icon-repeat"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <p />
        <div class="btn btn-block btn-info btn-lg">Get started</div>

        <p class="hint topspaced3">If you're unsure, then just get started now,<br />you can always add more topics later.</p>
    </div>
</div>