﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="body-content center">
        <a href="#" class="pre-header">SUCCESS</a>
        <h1>So you got the new tab sorted</h1>
        <p>
            You’re able to open as many tabs as you want. It’s really useful if you want to compare products or services on different websites as you can click on the tabs at the top of your browser to move back and forth between websites.
        </p>
        <p>
            Once you’re finished with a tab, close it down by clicking on the small cross in the tab.
        </p>
    </div>
    <div class="body-content">

        <div class="action">
            <div class="action-indicator"><span class="icon-dot"></span>&nbsp;&nbsp;Action</div>
            &nbsp;&nbsp;
            Close this tab now
        </div>
    </div>
</div>